/* Estilos específicos para la página de Iniciar Sesión */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header img {
    width: 70px; /* Puedes ajustar el valor según sea necesario */
    height: auto; /* Esto mantiene la proporción original de la imagen */
    margin-left: 130px; /* Ajusta este valor para mover la imagen hacia la derecha */
}

.form-background {
    background-color: #EBEFF1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex; /* Agregado: usar flexbox */
    flex-direction: column; /* Asegurar que los elementos se apilen verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: 100vh; /* Hacer que el contenedor ocupe la altura completa de la pantalla */
    max-width: 400px; /* Establecer un ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
}

.form-background h1 {
    color: #2d343c;
    margin-bottom: 15px;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegurar que el formulario ocupe el 100% del ancho del contenedor */
}

#login-form label {
    text-align: left;
    margin-bottom: 5px;
    color: #2d343c;
    font-weight: 600;
}

#login-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form input[type="submit"] {
    background-color: #f35200;
    color: #FFFFFF;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

#login-form input[type="submit"]:hover {
    background-color: #f35200;
}

.sign-up-divider {
    margin-top: 15px;
    color: #2d343c;
    font-weight: 600;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media-icons li {
    margin: 0 8px;
}

.social-media-icons a {
    color: #2d343c;
}

.login {
    margin-top: 15px;
    color: #2d343c;
}

.login a {
    color: #f35200;
    font-weight: 600;
}

.login a:hover {
    text-decoration: underline;
}
